<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.scss" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DreamCar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ShopCart/">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/">All cars!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/electro">Электромобили</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/fuel">Автомобили с ДВС</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5" >
    @RenderBody()
</div>
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2021–2025 Burious, LLC. · <a href="#">Privacy</a></p>
</footer>
<script src="~/js/bootstrap.min.js"></script>
</body>
</html>
